{% load static %}

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="get" action="{% url 'search_results' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search users and posts"
                            aria-label="Search" aria-describedby="search-addon">
                        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
                <!-- Dynamic search suggestions could go here -->
                <div id="search-suggestions" class="mt-3">
                    <!-- Example suggestion (replace with dynamic content) -->
                    <ul class="list-group">
                        <li class="list-group-item">Search suggestion 1</li>
                        <li class="list-group-item">Search suggestion 2</li>
                        <li class="list-group-item">Search suggestion 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
